@import url('https://fonts.googleapis.com/css?family=Spinnaker');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*---------------------------------------
    NAVBAR
-----------------------------------------*/
nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  padding: 1em 3em;
  box-sizing: border-box;
  transition: .5s;
  font-family: 'Spinnaker', sans-serif;
  /* background: #161617; */
}

nav.black {
  background: #323232;
  /* #161617; */
  height: 5em;
  padding: .5em 2em;
}

nav .logo {
  float: left;
}

nav .logo img {
  color: #ffffff;
  /* margin-top: 1em; */
  transition: .5s;
  height: 5.3em;
  width: 6em;
  padding-bottom: 1em;
}
nav.black .logo p {
  font-size: 1.35em;
  display: inline-block;
  padding-top: .2em;
  transition: .5s;
  margin-top: 0;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  padding-top: 0.7em;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 4em; /* this is equal to height of nav .logo img */
  color: #ffffff;
  padding: 5px 12px; /* change this as well */
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
}
nav.black ul li a {
  line-height: 3em;
}

nav ul li a.active, nav ul li a:hover {
  text-decoration: none;
  color: #FC575A;
}

.responsive-bar {
  display: none;
}
@media (max-width: 768px) {
  .responsive-bar {
    display: block;
    width: 100%;
    height: 3em;
    background: #323232;
    position: fixed;
    top: 0;
    left: 0;
    padding: .15em .5em; /* change this!!!! */
    box-sizing: border-box;
    z-index: 12;
    font-family: 'Spinnaker', sans-serif;
  }

  .responsive-bar .menu p {
    float: right;
    color: #ffffff;
    margin: 0;
    padding-top: .35em;
    font-size: 1.25em;
    cursor: pointer;
  }

  nav, nav.black {
    background:#323232;
    height: 3em;
    padding: 0;
  }
  .responsive-bar .logo img {
    float: left;
    /* padding-top: .6em; */
    color: #ffffff;
    height: 3em;
    width: 3.5em;
  }
  
  nav .logo {
    display: none;
  }
  nav ul {
    position: absolute;
    width: 100%;
    top: 3em;
    left: 0;
    background: #161617;
    float: none;
    display: none;
  }

  nav ul.active {
    display: block;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    line-height: 2.5em !important;
    border-top: .2px solid rgb(236,239,241, 0.8);
  }
}

/*---------------------------------------
    HOME
-----------------------------------------*/
.overlay {
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 100%;
  height: 35em;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#home img {
  height: 35em;
  width: 100%;
  z-index: 0;
}

#home p {
  color: #ffffff;
  font-size: 4.5em;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  margin-top: 4.2em;
  padding-left: 1em;
  padding-right: 0.25em;
  font-weight: bold;
  background-color: rgba(252, 87, 90, 0.8);
  z-index: 2;
}

@media screen and (max-width: 639px) {
  #home img {
   height: 14em;
  }
  .overlay {
    height: 14em;
  }
  #home p {
    font-size: 2em;
    margin-top: 4.2em;
  }
}

/*---------------------------------------
    CONTENT SPACING
-----------------------------------------*/
section.content {
  padding-top: 3em; /* important to note */
  position: relative;
  color: #212121;
}
@media screen and (max-width: 639px) {
 section.content {
  padding-top: 1em;
  }
}

/*---------------------------------------
    WHY/WHAT
-----------------------------------------*/
#why-affiliate h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #393f44;
  font-size: 3.05em;
  padding-bottom: .3em;
}
/* #why-affiliate h1 span {
  border-bottom: 3.5px solid rgb(252, 87, 90);
} */
#why-affiliate p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #63696e;
  padding-bottom: 2.3em;
  font-size: 1.2em;
}
@media (max-width: 768px) {

}
@media screen and (max-width: 639px) {
  #why-affiliate h1 {
    font-size: 1.5em;
  }

  #why-affiliate p {
    font-size: 0.8em;
    padding-bottom: 1em;
  }
}


/*---------------------------------------
    BENEFITS
-----------------------------------------*/
#benefits {
  background-color: #EFEEF0;
  position: relative;
}
#benefits .container-fluid {
  padding: 0;
  overflow-x: hidden;
}

#benefits .container {
  margin: 0;
  padding: 0;
}

#benefits .overlay-benefits {
  background-color: rgba(0, 0, 0, 0.23);
  position: absolute;
  width: 97.5%;
  height: 32em;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#benefits .benefits-img {
  height: 32em;
  /* width: 38em; */
  width: 100%;
  z-index: 0;
}
#benefits .benefits-title {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  margin-top: 2.7em;
  margin-left: 1em;
  font-size: 4.2em;
  color: white;
  z-index: 4;
  border-bottom: 7px solid rgba(252, 87, 90, 0.8);
  line-height: 1;
}

#benefits .benefits-paragraph {
  font-family: 'Open Sans', sans-serif;
  color: #63696e;
  font-weight: 100;
  padding-top: 6.8em;
  padding-right: 2em;
  text-align: center;
}

@media screen and (max-width: 1199px)  {
  #benefits .benefits-paragraph {
    padding-top: 6em;
  }
}

@media screen and (max-width: 991px) {
  #benefits .overlay-benefits {
    width: 97%;
    height: 28em;
  }
  #benefits .benefits-img {
    height: 28em;
  }
  #benefits .benefits-title {
    font-size: 3.5em;
  }
  #benefits .benefits-paragraph {
    padding-top: 4em;
    font-size: .9em;
    padding-right: 2.4em;
  }
}

@media (max-width: 768px) {
  #benefits .row {
    margin-right: 0;
    margin-left: 0;
  }
  #benefits .benefits-img {
    height: 20em;
    width: 30em;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  }
  #benefits .benefits-col-centered {
    padding: 0;
  }
  #benefits .benefits-title {
    font-size: 2.5em;
    margin-left: 3.4em;
  }
  #benefits .benefits-paragraph {
    font-size: .8em;
    padding-top: 1.5em;
  }
  #benefits .overlay-benefits {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  #benefits .benefits-img {
    height: 12em;
    width: 17em;
  }
  #benefits .benefits-title {
    font-size: 1.8em;
    margin-left: 1.7em;
    margin-top: 4em;
    border-bottom: 4px solid rgba(252, 87, 90, 0.8);
  }
  /* #benefits h1 {
    font-size: 1.8em;
  } */
  #benefits .benefits-paragraph {
    font-size: 0.7em;
    padding-top: 1.5em;
  }
}

/*---------------------------------------
    STEPS
-----------------------------------------*/
#steps h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #393f44;
  font-size: 3em;
  padding-bottom: .5em;
}

#steps .step-box {
  border: 2px solid #FC575A;
  height: 20em;
}
#steps .step-img {
  height: 10em;
  width: 10em;
}

#steps h2 {
  padding-top: 0.7em;
  font-family: 'Roboto', sans-serif;
  color: #FC575A;
  /* #393f44; */
  padding-bottom: 1.35em;
}

#steps ul {
  padding-right: 0.5em;
  padding-left: 0.5em;
}
#steps ul li {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #393f44;
  font-size: 0.95em;
  list-style: none;
}

/* #steps ul li::before {
  content: "•"; 
  color: #FC575A;
  display: inline-block; 
  width: 0.65em;
  margin-left: -1em;
} */

#steps .steps-row {
  padding-bottom: 2.5em;
}

#steps .step-link {
  font-family: 'Roboto', sans-serif;
  float: none;
  margin: 0 auto;
  text-decoration: none;
  padding-bottom: 5em;
}
#steps .step-btn {
  background-color: #FC575A;
  padding-top: .75em;
  padding-bottom: .75em;
  padding-left: 2.8em;
  padding-right: 2.8em;
  color: #ffffff;
  float: none;
  margin: 0 auto;
  
}
#steps .step-btn:hover, #steps .step-btn:active {
  text-decoration: none;
  transition: .3s;
  background-color: #C1D76F;
}
@media (max-width: 768px) {

}
@media screen and (max-width: 639px) {
  #steps h1 {
    font-size: 1.8em;
    padding-top: 1em;
  }

  #steps p {
    font-size: 0.8em;
    padding-bottom: 1em;
  }

  #steps .step-box {
    border: 2px solid #FC575A;
    height: 10em;
    width: 15em;
    margin-bottom: 2em;
    display: inline-block;
    float: none;
    vertical-align: middle;
    /* margin-right: -4px; */
    padding-right: 0;
    padding-left: 0;
  }

  #steps h2 {
    font-size: 1.4em;
    padding-bottom: 0.5em;
  }

  #steps ul li {
    font-size: 0.6em;
  }
  #steps .steps-row {
    padding-bottom: 1em;
  }
}

/*---------------------------------------
    FOOTER
-----------------------------------------*/
footer {
  background: #323232;
  left: 0;
  bottom: 0;
  height: 10em;
  width: 100%;
  overflow: hidden;
}

footer p {
  text-align: center;
  color: #ffffff;
  padding-top: 0.5em;
}

footer .contact-buttons {
  text-align: center;
  font-size: 2em;
  overflow: hidden;
  position: relative;
  padding-top: 1em;

}
footer .contact-buttons a {
text-decoration: none;
}

#youtube, #instagram, #linkedin, #facebook, #twitter, #pinterest {
  color: #ffffff;

}
#youtube:hover, #instagram:hover, #linkedin:hover, #facebook:hover, #twitter:hover, #pinterest:hover {
  color: #FC575A;
} 